################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Abnormaly-test01/bin/Debug/netcoreapp2.1
/Abnormaly-test01/obj
/Abnormaly-test01
/AnomalyWeb/bin/Debug/netcoreapp2.0
/AnomalyWeb/obj
